<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajouter une recette</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nom de la recette</ion-label>
    <ion-input (ionChange)="setRecipeName($event)"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Liste des ingredients</ion-label>
    <ion-select multiple="true" (ionChange)=setRecipeIngredients($event)>
      <ion-select-option *ngFor="let item of items">{{item.name}}</ion-select-option>      
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea autoGrow required (ionChange)="setDesc($event)"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Etapes</ion-label>
    <ion-textarea autoGrow required (ionChange)="setDescription($event)"></ion-textarea>
  </ion-item>
</ion-content>

<ion-button (click)="validateRecipe()">Fini</ion-button>
