<div id="main">
  <ion-card *ngFor="let item of recipes">
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
      <ion-button slot="icon-only">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-card-content *ngFor="let ingredient of item.ingredient">
      {{ingredient}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addRecipe()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>