ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li{
    padding: 0 10px;
    margin-bottom: 5px;
    border-right: grey solid 1px;
    list-style: none;
    &:last-of-type{
      border: none;
    }
  }
}