<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-menu-button></ion-menu-button>
      <ion-title>Fridge Companion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-menu side="start" menuId="menu" content-id="main" type="overlay" swipeGesture=true>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/']"><ion-icon name="home-outline"></ion-icon><ion-label>Accueil</ion-label></ion-item>
        <ion-item [routerLink]="['/fridge']"><ion-icon name="restaurant-outline"></ion-icon><ion-label>Mon frigo</ion-label></ion-item>
        <ion-item [routerLink]="['/recipe']"><ion-icon name="book-outline"></ion-icon><ion-label>Mes recettes</ion-label></ion-item>
        <ion-item [routerLink]="['/shop']"><ion-icon name="pricetag-outline"></ion-icon><ion-label>Ma liste de course</ion-label></ion-item>
        <ion-item></ion-item>
        <ion-item [routerLink]="['/setting']" ><ion-icon name="settings-outline"></ion-icon><ion-label>Parametres</ion-label></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
